<mat-toolbar color="primary">
  <span routerLink="">My Application</span>

  <button mat-button routerLink="users">Пользователи</button>
  <button mat-button routerLink="plugins">Плагины</button>
  <button mat-button routerLink="licenses">Лицензии</button>

  <span class="example-spacer"></span>

  <div *ngIf="isAuthenticated">
    <button mat-button [matMenuTriggerFor]="menu">{{jwtUser?.username}} ({{jwtUser?.role}})</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
